
$box-min-width: 16em;
$box-side-margin: 1em;
$box-bottom-margin: 2em;
$box-min-width-px: 16 * $base-font-size-px;
$box-side-margin-px: 1 * $base-font-size-px;

.box {
  border: 1px solid gainsboro;
  border-radius: 4px;
  padding: 1em;
  margin: 0 $box-side-margin $box-bottom-margin;
}

@mixin box-3-col() {
  width: calc(33% - #{$box-side-margin} * 2);
}

@mixin box-2-col {
  width: calc(50% - #{$box-side-margin} * 2);
}

@mixin box-1-col {
  width: calc(100% - #{$box-side-margin});
  margin-left: 0;
  margin-right: 0;
}
