dist/
medium/
.idea/
_site/
*__pycache__*

docs/.sass-cache
docs/_includes
docs/_layouts
docs/_sass
docs/_site
docs/assets/js

Gemfile.lock
minimal-mistakes

!/docs/_includes/footer.html
!/docs/_includes/masthead.html
