dist/
build/
venv/
venv3.8/
venv_py38_dj30/
.idea/
.tox/
*__pycache__*
*egg-info/


docs/.sass-cache/*
docs/_includes/*
!docs/_includes/head/
docs/_apidocs/_build/
docs/_apidocs/doctrees/
docs/_layouts/*
docs/_sass/*
docs/_site/*
docs/assets/js/*
!docs/assets/js/jquery.liquid-slider.min.js
!docs/assets/js/jquery.touchSwipe.min.js
!docs/assets/js/jquery.easing.min.js
tests/logs

Gemfile.lock
upload.sh

!docs/_includes/footer.html
!docs/_includes/masthead.html
!docs/_includes/nav_list
!docs/_layouts/single.html

