# THIS FILE WAS CHANGED ON - 19 Aug 2022

sqlparse==0.4.2
pymongo>=3.2.0,<4.0.0
django>=2.0
pytz>=2018.5
=======
 # requirements.txt
 #
 # installs dependencies from ./setup.py, and the package itself,
 # in editable mode
 -e .
