@import "const";

.empty-header {
  .initial-content {
    margin-top: 100px;
  }
}

.cookie-notice {
  position: fixed;
  bottom: 0;
  left: 0;
  color: #646769;
  background-color: #f2f3f3;
  width: 100%;

  p {
    margin: 1.3em auto;
    text-align: center;
  }

  button {
    margin-left: 0.5em;
  }
}

.custom-splash {
  .page__content {
    section {
      border-bottom: 1px solid gainsboro;
      padding: 3em 0;

      &:last-of-type {
        border-bottom-style: none;
      }
    }
  }

  h1 {
    margin: 1.5em 0 .75em;
    text-align: center;

    @include break(x-small) {
      text-align: left;
    }
  }

  h2 {
    margin-bottom: 1em;
  }

  form {
    width: 50%;
    margin: 0 auto 5px auto;

    @include break(x-small) {
      margin: 0;
      width: 100%;
    }
  }

  .text-content {
    margin: 0 1em;

    @include break(x-small) {
      margin: 0;
    }
  }
}
