---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__hero--overlay .page__title, .page__hero--overlay .page__lead {
    color: white;
}

.page__hero--overlay {
    background-position: right;
}

.heart {
    padding-bottom: 0.15em;
    width: $type-size-2 - 0.3em;
}

.support {
    padding-bottom: 0.15em;
    padding-right: 0.075em;
    width: $type-size-2 - 0.5em;
}

form {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto
}

.feedback {
    margin-top: 20px;
}