remote_theme: "mmistakes/minimal-mistakes"

#theme: minimal-mistakes-jekyll

minimal_mistakes_skin    : "default" # "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum", "sunrise"

# Site Settings
locale                   : "en-US"
title                    : "Djongo"
title_separator          : "-"
name                     : "Nesdis"
description              : "Djongo is specifically meant to be used with the original Django ORM and MongoDB. Using the Django admin app one can directly add and modify documents stored in MongoDB. Other contrib modules such as Auth and Sessions work without any changes"
url                      : "https://nesdis.github.io"
baseurl                  : "/djongo"
repository               : "nesdis/djongo"
teaser                   : # path of fallback teaser image, e.g. "/assets/images/500x300.png"
# breadcrumbs            : false # true, false (default)
words_per_minute         : 200
comments:
  provider               : # false (default), "disqus", "discourse", "facebook", "google-plus", "staticman", "staticman_v2" "custom"
  disqus:
    shortname            : # https://help.disqus.com/customer/portal/articles/466208-what-s-a-shortname-
  discourse:
    server               : # https://meta.discourse.org/t/embedding-discourse-comments-via-javascript/31963 , e.g.: meta.discourse.org
  facebook:
    # https://developers.facebook.com/docs/plugins/comments
    appid                :
    num_posts            : # 5 (default)
    colorscheme          : # "light" (default), "dark"

# SEO Related
google_site_verification :
bing_site_verification   :
yandex_site_verification :
naver_site_verification  :

# Social Sharing
#twitter:
#  username               :
#facebook:
#  username               :
#  app_id                 :
#  publisher              :
#og_image                 : # Open Graph/Twitter default site image
# For specifying social profiles
# - https://developers.google.com/structured-data/customize/social-profiles
#social:
#  type                   : # Person or Organization (defaults to Person)
#  name                   : # If the user or organization name differs from the site's name
#  links: # An array of links to social media profiles

# Analytics
analytics:
  provider               : "google-universal" # false (default), "google", "google-universal", "custom"
  google:
    tracking_id          : "UA-75159067-1"

footer_scripts:
  - /assets/js/jquery.easing.min.js
  - /assets/js/jquery.touchSwipe.min.js
  - /assets/js/jquery.liquid-slider.min.js

# Site Author
#author:
#  name             : "Nesdis"
#  avatar           : # path of avatar image, e.g. "/assets/images/bio-photo.jpg"
#  bio              : ""
#  location         : ""
#  email            :
#  uri              :
#  home             : # null (default), "absolute or relative url to link to author home"
#  bitbucket        :
#  codepen          :
#  dribbble         :
#  flickr           :
#  facebook         :
#  foursquare       :
#  github           :
#  gitlab           :
#  google_plus      :
#  keybase          :
#  instagram        :
#  lastfm           :
#  linkedin         : # "john-doe-12345678" (the last part of your profile url, e.g. https://www.linkedin.com/in/john-doe-12345678)
#  pinterest        :
#  soundcloud       :
#  stackoverflow    : # "123456/username" (the last part of your profile url, e.g. https://stackoverflow.com/users/123456/username)
#  steam            : # "steamId" (the last part of your profile url, e.g. https://steamcommunity.com/id/steamId/)
#  tumblr           :
#  twitter          :
#  vine             :
#  weibo            :
#  xing             :
#  youtube          : # "https://youtube.com/c/MichaelRoseDesign"


# Reading Files
include: [_static, _sources]

exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - vendor
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/plugins
  - assets/js/_main.js
  - assets/js/vendor
  - Capfile
  - CHANGELOG
  - config
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - log
  - node_modules
  - package.json
  - Rakefile
  - README
  - tmp

keep_files:
  - .git
  - .svn


encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"


# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false


# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false


# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed # http://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style


# Outputting
#permalink: /:categories/:title/
#paginate_path: /blog/page:num/
#paginate: 5 # amount of posts to show
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones


# Plugins (previously gems:)
plugins:
#  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jemoji
  - jekyll-include-cache

# mimic GitHub Pages with --safe
whitelist:
#  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jemoji


# HTML Compression
# - http://jch.penibelst.de/
compress_html:
  clippings: all
  ignore:
    envs: development

# Defaults
defaults:
  - scope:
      path: "docs"
      type: pages
    values:
      not_ready: "Some parts of this feature are still under development.\n{: .notice--warning}"
      layout: single
      read_time: false
      author_profile: false
      share: false
      comments: false
      toc: false
      pizza: true
      sidebar:
        nav: "docs"

