.tire__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.tire__banner {
  height: 100px;
}

%box-border {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(229, 227, 221);
  border-radius: 4px;
}

%box-spacing {
  margin-bottom: 2em;
  margin-left: 1em;
  margin-right: 1em;

  padding: 1em;
}

.tire_item__box {
  @extend %box-border;
  @extend %box-spacing;

  width: 29%;
  min-width: 16em;
  text-align: center;

  ul {
      text-align: left;
  }
}

.tire_item__title {
  font-weight: bold;
  margin-bottom: 1.5em;
}

.tire_item__price {
  font-weight: bold;
  font-size: 2.5em;
}

.tire_item__period {
  font-size: 0.9em;
  font-weight: lighter;
  margin-bottom: 1em;
}

@media (max-width: 650px) {
  .tire__wrapper {
    display: block;
  }
  .tire_item__box {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
