@import "const";

$box-min-width: 16em;
$box-side-margin: 1em;
$box-min-width-px: 16 * $base-font-size-px;
$box-side-margin-px: 1 * $base-font-size-px;

@mixin box {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(229, 227, 221);
  border-radius: 4px;

  margin-bottom: 2em;
  margin-left: $box-side-margin;
  margin-right: $box-side-margin;

  min-width: $box-min-width;

  padding: 1em;
}

@mixin box--col-3 {
  @include box();
  width: calc(33% - #{$box-side-margin}*2);
}

@mixin box--col-2 {
  @include box();
  width: calc(50% - #{$box-side-margin}*2);

}

@mixin box--row {
  @include box()

}